<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://127.10.160.130:3306/bd_colegio8?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">adminVGsz9jJ</property>
    <property name="hibernate.connection.password">SsUfah6Iss4l</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    
    <mapping resource="entidades/Estandarespago.hbm.xml"/>
    <mapping resource="entidades/Alumno.hbm.xml"/>
    <mapping resource="entidades/Usuario.hbm.xml"/>
    <mapping resource="entidades/Cronograma.hbm.xml"/>
    <mapping resource="entidades/Detallepago.hbm.xml"/>
    <mapping resource="entidades/Matricula.hbm.xml"/>
    <mapping resource="entidades/Domicilio.hbm.xml"/>
    <mapping resource="entidades/PadreDeFamilia.hbm.xml"/>
    <mapping resource="entidades/Ubicaciondocumentos.hbm.xml"/>
    <mapping resource="entidades/Aula.hbm.xml"/>
    <mapping resource="entidades/Transaccion.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
